{{ define "main" }}
{{ $headless := .Site.GetPage "/datenschutz" }}
{{ $sections := $headless.Resources.ByType "page" }}
{{ $sections := cond .Site.BuildDrafts $sections (where $sections "Draft" "==" false) }}
<header class="post-header">
  <a id="blog-logo" href="{{ "/" | relURL }}">
    <h5 class="backhome"><i class="fa fa-chevron-left " aria-hidden="true"></i> {{ "Zurück zur Homepage" }}</h5>
  </a>
</header>
<main class="content" role="main">
    {{ range $index_val, $elem_val := $sections }}
        <div class='post-holder'>
            <article id='{{ anchorize .Title }}' class='post {{ if eq $index_val 0 }}first{{ end }} {{ if eq (add $index_val 1) (len $sections) }}last{{ end }}'>
                <header class="post-header">
                    <h2 class="post-title">{{ .Title }}</h2>
                </header>
                <section class="post-content">
                    {{ .Content }}
                </section>
            </article>
            <div class='post-after'></div>
        </div>
    {{ end }}
</main>
<style>
	body {
		color: white;
		background: #1b1c1e;
    }
	#blog-logo {
		text-decoration:none;
	}
	
	.backhome {
		margin-bottom: 5px;
	}
	
	/* Content / Sections */
    .post-holder.odd {
        background: #283e71;
    }
    .post-holder {
        background: #1b1c1e;
		color: white;
    }
	
</style>
{{ end }}
