<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>
	 /* Links */
     a:hover {
         color: #3154bd;
     }
	 
     /* Scroll Menu on Startpage */

	#blog-logo {
	  display: block;
	  width: 100%;
	  height: auto;
	}

	#site-head-content.inner {
	  position: relative;
	  margin-top: -15%;
	  width: 80vw;
	  max-width: 700px;
	}
	
	.blog-title {
      font-size: clamp(2rem, 6vw, 5rem);
    }

	
     body {
          color: #3A4145;
     }
	
	#FotoWerkstatt
	{
		border-radius: 5px;
	}
	
	.wrap {
	width: 100%;
	}

	.floatleftmap, .floatrightmap {
		float:left;
		width: 30%;
		margin-bottom: 20px;
	}

	.floatrightmap {
		width: 70%;
		text-align: center;
	}

	.floatleftcontact {
		float:left;
		width: 50%;
		text-align: center;
		font-style:italic;
	}

	.floatrightcontact {
		float:right;
		width: 50%;
	}
	
	#qrcode {
		max-height:250px
	}

    /*
    --section-light-text-color: #3a4145!important;
    --section-light-bg-color: #ffdb8c!important;
    --section-dark-bg-color: #035e00!important;
    */

     /* define list element for unnumbered lists, leave empty for default list element */
     /* fa-asterisk is the default icon if this variable definition is missing completely */
     --ul-li-icon: fa-dashcube;     /* this sets fa-dashcube as list icon */
     --ul-li-icon: ;                /* this sets the default html list icon */
}
</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

{{ with resources.Get "images/apple-touch-icon.png" }}<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}" />{{ end }}
{{ with resources.Get "images/favicon.svg" }}<link rel="icon" type="image/svg+xml" href="{{ .RelPermalink }}" />{{ end }}
{{ range seq 9 4 }}{{ $size := pow 2 . }}{{ $file := replace "images/favicon-##x##.png" "##" $size }}{{ with resources.Get $file }}
<link rel="icon" type="{{ .MediaType.Type }}" sizes="{{- $size -}}x{{- $size -}}" href="{{ .RelPermalink }}" />{{ end }}{{ end }}

