<style>
details summary {
  display: block;
  font:
	3rem "Open Sans",
	sans-serif;
  font-weight: bold;
}

details summary p {
    display: inline;
}

details summary:hover, details summary:active{
	color: #3d8df5;
	cursor: pointer;
}

details summary::before {
	margin-right: 0.5rem;
	padding: 0.3rem;
	display: inline-block;
	transition: 0.7s;
	content: '\203A'; /* chevron */
}
details[open] summary {
	color: #0c6ce9;
}

details[open] summary::before {
  transform: rotate(90deg);
  margin-bottom: 0.5rem;
}
</style>
<script>
document.querySelectorAll('details').forEach((D,_,A)=>{
  D.ontoggle =_=>{ if(D.open) A.forEach(d =>{ if(d!=D) d.open=false })}
})
</script>
<details>
  <summary><p>{{ (.Get 0) | markdownify }}</p></summary>
  {{ .Inner | markdownify }}
</details>
